In [ ]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [ ]:
insurance=pd.read_csv('https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv')
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
# One-hot encoding
insurance_one_hot=pd.get_dummies(insurance)
insurance_one_hot.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 12 columns]

In [ ]:
# Create X & y values(features and labels)
X=insurance_one_hot.drop('charges',axis=1)
y=insurance_one_hot['charges']

In [ ]:
# Create training and test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
tf.random.set_seed(42)

# 1. Create a model
insurance_model=tf.keras.Sequential([
  # Hidden Layer consisting of 100 neurons                                
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(100),
  # Output layer of 1 neuron
  tf.keras.layers.Dense(1)   
  # N.B: We don't need to specify input_shape as it can be automatically handeled by keras                           
])

# 2.Compile a model
insurance_model.compile(loss=tf.keras.losses.mae,
                        optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
                        metrics=["mae"])

# 3. Fit the model
insurance_model.fit(X_train,y_train,epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 12816.6123 - mae: 12816.6123
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 8691.3799 - mae: 8691.3799
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 7416.8496 - mae: 7416.8496
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 7238.1631 - mae: 7238.1631
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 7148.7202 - mae: 7148.7202
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 7032.5791 - mae: 7032.5791
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 6913.5605 - mae: 6913.5605
Epoch 8/100
34/34 [==============================] - 0s 3ms/step - loss: 6769.1440 - mae: 6769.1440
Epoch 9/100
34/34 [==============================] - 0s 3ms/step - loss: 6653.7939 - mae: 6653.7939
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 6602.2593 - mae: 6602.2593
Epoch 11/100
34/34 [==============================] - 0s 2ms/step - loss: 6602.2031 - mae: 6602.2031
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 6553.1660 - mae: 6553.1660
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 6482.1421 - mae: 6482.1421
Epoch 14/100
34/34 [==============================] - 0s 3ms/step - loss: 6446.7812 - mae: 6446.7812
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 6410.4175 - mae: 6410.4175
Epoch 16/100
34/34 [==============================] - 0s 2ms/step - loss: 6347.4272 - mae: 6347.4272
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 6293.0259 - mae: 6293.0259
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 6225.1587 - mae: 6225.1587
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 6154.9761 - mae: 6154.9761
Epoch 20/100
34/34 [==============================] - 0s 3ms/step - loss: 6075.3354 - mae: 6075.3354
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 5945.0020 - mae: 5945.0020
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 5818.5542 - mae: 5818.5542
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 5658.6689 - mae: 5658.6689
Epoch 24/100
34/34 [==============================] - 0s 3ms/step - loss: 5426.5962 - mae: 5426.5962
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 5088.9658 - mae: 5088.9658
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 4630.5356 - mae: 4630.5356
Epoch 27/100
34/34 [==============================] - 0s 3ms/step - loss: 4164.4854 - mae: 4164.4854
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 3899.3547 - mae: 3899.3547
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 3870.0979 - mae: 3870.0979
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 3856.2832 - mae: 3856.2832
Epoch 31/100
34/34 [==============================] - 0s 3ms/step - loss: 3820.3706 - mae: 3820.3706
Epoch 32/100
34/34 [==============================] - 0s 3ms/step - loss: 3824.1982 - mae: 3824.1982
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 3828.3044 - mae: 3828.3044
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 3926.6487 - mae: 3926.6487
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 3795.4194 - mae: 3795.4194
Epoch 36/100
34/34 [==============================] - 0s 3ms/step - loss: 3781.4529 - mae: 3781.4529
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 3759.2581 - mae: 3759.2581
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 3749.3162 - mae: 3749.3162
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 3759.7620 - mae: 3759.7620
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 3751.7024 - mae: 3751.7024
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 3773.2402 - mae: 3773.2402
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 3828.4832 - mae: 3828.4832
Epoch 43/100
34/34 [==============================] - 0s 2ms/step - loss: 3737.7339 - mae: 3737.7339
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 3757.8120 - mae: 3757.8120
Epoch 45/100
34/34 [==============================] - 0s 2ms/step - loss: 3727.7827 - mae: 3727.7827
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 3702.6414 - mae: 3702.6414
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 3735.3794 - mae: 3735.3794
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 3703.9417 - mae: 3703.9417
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 3681.7073 - mae: 3681.7073
Epoch 50/100
34/34 [==============================] - 0s 2ms/step - loss: 3692.7305 - mae: 3692.7305
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 3668.0571 - mae: 3668.0571
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 3642.5186 - mae: 3642.5186
Epoch 53/100
34/34 [==============================] - 0s 3ms/step - loss: 3647.4531 - mae: 3647.4531
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 3674.9260 - mae: 3674.9260
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 3699.2297 - mae: 3699.2297
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 3613.8738 - mae: 3613.8738
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 3614.7124 - mae: 3614.7124
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 3641.7261 - mae: 3641.7261
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 3600.1077 - mae: 3600.1077
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 3606.3960 - mae: 3606.3960
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 3608.1758 - mae: 3608.1758
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 3600.0557 - mae: 3600.0557
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 3599.6934 - mae: 3599.6934
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 3570.2517 - mae: 3570.2517
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 3582.5212 - mae: 3582.5212
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 3591.0769 - mae: 3591.0769
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 3541.2632 - mae: 3541.2632
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 3561.2310 - mae: 3561.2310
Epoch 69/100
34/34 [==============================] - 0s 2ms/step - loss: 3539.3850 - mae: 3539.3850
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 3573.0439 - mae: 3573.0439
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 3531.1865 - mae: 3531.1865
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 3544.6611 - mae: 3544.6611
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 3552.6187 - mae: 3552.6187
Epoch 74/100
34/34 [==============================] - 0s 2ms/step - loss: 3510.8987 - mae: 3510.8987
Epoch 75/100
34/34 [==============================] - 0s 2ms/step - loss: 3542.6169 - mae: 3542.6169
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 3545.8721 - mae: 3545.8721
Epoch 77/100
34/34 [==============================] - 0s 2ms/step - loss: 3532.2751 - mae: 3532.2751
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 3533.9797 - mae: 3533.9797
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 3524.2620 - mae: 3524.2620
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 3511.6370 - mae: 3511.6370
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 3531.0217 - mae: 3531.0217
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 3522.1624 - mae: 3522.1624
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 3508.5300 - mae: 3508.5300
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 3504.0698 - mae: 3504.0698
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 3509.4067 - mae: 3509.4067
Epoch 86/100
34/34 [==============================] - 0s 3ms/step - loss: 3507.1765 - mae: 3507.1765
Epoch 87/100
34/34 [==============================] - 0s 3ms/step - loss: 3508.4399 - mae: 3508.4399
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 3528.6748 - mae: 3528.6748
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 3505.6448 - mae: 3505.6448
Epoch 90/100
34/34 [==============================] - 0s 2ms/step - loss: 3537.7346 - mae: 3537.7346
Epoch 91/100
34/34 [==============================] - 0s 3ms/step - loss: 3534.6809 - mae: 3534.6809
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 3544.3438 - mae: 3544.3438
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 3533.3796 - mae: 3533.3796
Epoch 94/100
34/34 [==============================] - 0s 3ms/step - loss: 3526.6038 - mae: 3526.6038
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 3571.5803 - mae: 3571.5803
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 3504.9934 - mae: 3504.9934
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 3514.1804 - mae: 3514.1804
Epoch 98/100
34/34 [==============================] - 0s 3ms/step - loss: 3517.0576 - mae: 3517.0576
Epoch 99/100
34/34 [==============================] - 0s 2ms/step - loss: 3502.3455 - mae: 3502.3455
Epoch 100/100
34/34 [==============================] - 0s 3ms/step - loss: 3493.8567 - mae: 3493.8567

In [ ]:
insurance_model.summary()

Model: "sequential_23"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_60 (Dense)             (None, 100)               1200
_________________________________________________________________
dense_61 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_62 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_63 (Dense)             (None, 1)                 101
=================================================================
Total params: 21,501
Trainable params: 21,501
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Evaluate the model on test data
insurance_model.evaluate(X_test,y_test)

9/9 [==============================] - 0s 2ms/step - loss: 3175.4165 - mae: 3175.4165

[3175.41650390625, 3175.41650390625]